<button class="btn btn-back">          
  <%= link_to time_tables_path(subject_class_id: @subject_class.id) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</button>

<h2>New Time Table</h2>

<%= form_for(@time_table, url: time_tables_path(subject_class_id: @subject_class.id), method: :post) do |f| %>

  <%= render partial: "form", locals: { f: f } %>

  <div class="actions">
    <%= f.submit "Create Time Table" %>
  </div>
<% end %>

