<div id="mySidenav" class="sidenav shadow-sm">
  <div class="row justify-content-md-center">
    <%= image_tag("logo.png", size: "250x250", :alt => "rss feed") %>
  </div>
    <nav id="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul class="list-unstyled components">
            <li>
                <a href="#"><i class="fas fa-chart-pie"></i> Dashboard</a></li>
            </li>
            <a href="#accSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-users"></i> Accounts</a>
            <ul class="collapse list-unstyled" id="accSubmenu">
                <li>
                    <%= link_to(' New Account', new_user_path, method: :get, class: "dropdown-item") %>
                </li>
                <li>
                    <a href="#">Option 2</a>
                </li>
                <li>
                    <a href="#">Option 3</a>
                </li>
            </ul>
            <li>
                <a href="/majors"><i class="fas fa-newspaper"></i> Majors</a>
            </li>
            <li>
                <a href="/announcements"><i class="fas fa-calendar-alt"></i> Announcements</a>
            </li>
                        <li>
                <a href="/applicants"><i class="fas fa-calendar-alt"></i> Applicants</a>
            </li>
            <hr>
            <li>
                <a href="#"><i class="fas fa-users-cog"></i> Account Roles</a>
            </li>
            <li>
                <div>
                    <%= link_to(' Logout', destroy_user_session_path, method: :delete) %>
                </div>
            </li>
            <li>
                <a href="#">عربي</a>
            </li>
        </ul>
    </nav>
</div>


<span style="font-size:30px;cursor:pointer;color:#1a99bd;" onclick="openNav()">&#9776;</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">