<div id="mySidenav" class="sidenav shadow-sm">
  <div class="row justify-content-md-center">
    <%= image_tag("logo.jpg", size: "100x100", :alt => "rss feed") %>
  </div>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="">Dashboard</a>
  <a href="google.com">Users</a>
  <a href="youtube.com">Classes</a>
  <a href="flutter.com">Courses</a>
  <a href="flutter.com">Announcements & News</a>
  <a href="flutter.com">Events</a>
</div>

<span style="font-size:30px;cursor:pointer;color:#1b447a;" onclick="openNav()">&#9776;</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>