<table border="10" bordercolor="white" bgcolor="white" cellpadding="10" width="100%">
  
  <tr>
    <div class="container grid">
      <td><div class="form-group label">English Name</div></td>
      <td><div class="item"><%= f.text_field :name_en, autofocus: true, autocomplete: "name-en" %></div></td>
    </div>
  </tr>

  <tr>
    <div class="container grid">
      <td><div class="form-group label">Arabic Name</div></td>
      <td><div class="item"><%= f.text_field :name_ar, autocomplete: "name-ar", required: true %></div></td>
    </div>
  </tr>

  <tr>
    <div class="container grid">
      <td><div class="form-group label">English Description</div></td>
      <td><div class="item"><%= f.text_area :description_en, autofocus: true, autocomplete: "description-en" %></div></td>
    </div>
  </tr>

  <tr>
    <div class="container grid">
      <td><div class="form-group label">Arabic Description</div></td>
      <td><div class="item"><%= f.text_area :description_ar, autocomplete: "description-ar", required: true%></div></td>
    </div>
  </tr>

</table>