<div class="row justify-content-md-center">
  <div class="col-md-6 col-lg-6">    
      <div class="row justify-content-md-center">
        <%= image_tag("logo.jpg", size: "200x200", :alt => "rss feed") %>
      </div>
      <div class="form-group label">
       
      </div>

      <div class="form-group label">
       
      </div>
      <div class="form-group text-center">
      
      </div>
  </div>
</div>