<button class="btn btn-back">          
  <%= link_to subjects_path(major_id: @major.id) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</button>


<div class="row justify-content-md-center">
    <div class="col-md-6 col-lg-12 border shadow-sm rounded p-3 mt-5 mb-3">

    <h1>Edit Subject</h1>
    <br/>

    <%= form_for(@subject, url: subjects_path(major_id: @major.id), method: :post) do |f| %>

      <%= render partial: "form", locals: { f: f } %>
  <br/>
  <div class="form-group text-center">
    <%= f.submit "Update Subject", class: "btn btn-primary" %>
  </div>
   <% end %>
  </div>
</div>