<button class="btn btn-back">          
  <%= link_to subject_classes_path(subject_id: @subject.id) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</button>

<div class="row justify-content-md-center">
    <div class="col-md-6 col-lg-12 border shadow-sm rounded p-3 mt-5 mb-3">

    <h2>New Class</h2>
    <br/>

    <%= form_for(@subject_class, url: subject_classes_path(subject_id: @subject.id), method: :post) do |f| %>

      <%= render partial: "form", locals: { f: f } %>
      <br/>
  <div class="form-group text-center">
    <%= f.submit "Create Class" , class: "btn btn-primary" %>
  </div>
<% end %>

  </div>
</div>