:root {
  --primary-color: #1a99bd;
  --secondary-color: #ff6839;
}

body {
  background-color: #f5f5f5 !important;
}

.border {
  background-color: white !important;
}

.btn-primary {
  width: 40%;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

h1 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: var(--primary-color);
}

.label {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  letter-spacing: 0.4px;
  color: var(--primary-color);
}

.navbar-light {
  background-color: white !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color);
  display: block;
  transition: 0.1s;
}

.sidenav a:hover {
  background-color: rgba(255, 94, 94, 0.08);
  color: var(--secondary-color);
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.sidenav .active {
  background-color: rgba(255, 94, 94, 0.08);
  color: var(--secondary-color);
}

.one-liner {
  display: flex;
  justify-content: space-between;
}

.btn-add {
  background-color: var(--secondary-color) !important;
  border-radius: 500px !important;
  width: 50px;
  height: 50px;
  margin-right: 5%;
  margin-left: 5%;
}

.fa-plus {
  color: white !important;
}

.fa-eye {
  color: rgb(68, 198, 68) !important;
}

.fa-pencil-alt {
  color: rgb(72, 72, 228) !important;
}

.fa-trash {
  color: red !important;
}

button {
  border: none;
  background-color: transparent;
}

label[for='show'] {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 10px;
  letter-spacing: 0.4px;
  color: var(--primary-color);
}

.btn-back {
  background-color: white !important;
  border-radius: 500px !important;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 2px -1px;
}

.btn-edit {
  background-color: var(--secondary-color) !important;
  border-radius: 500px !important;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 2px -1px;
}

.fa-arrow-left {
  color: grey !important;
}

.new-fields {
  border: 2px solid rgb(199, 197, 197);
  border-radius: 5px;
  display: inline-block;
  width: 75%;
  height: 40px;
  margin-left: 20px;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid .item:first-child {
  grid-column: 1 / 3;
  align-self: start;
  justify-self: center;
  border-radius: 5px;
  width: 500px;
  height: 35px;
  border: 1px solid #ccc;
}

.btn-apply {
  background-color: rgba(255, 94, 94, 0.08);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: rgba(255, 94, 94, 0.08) !important;
  color: var(--secondary-color) !important;
}
