<%= f.hidden_field :subject_class_id %>

<br/>

<div class="container grid">
  <div class="form-group label">Material Name (Arabic)</div>
  <div class="item"><%= f.text_field :name_ar, required: true%></div>
</div>

<br/>

<div class="container grid">
  <div class="form-group label">Material Name (English)</div>
  <div class="item"><%= f.text_field :name_en%></div>
</div>

<br/>

<div class="container grid">
  <div class="form-group label">File</div>
  <%= f.file_field :file, required: true%>
</div>

<br/>