<button class="btn btn-back">          
  <%= link_to subject_class_materials_path(subject_class_id: @subject_class.id) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</button>



<div class="row justify-content-md-center">
    <div class="col-md-6 col-lg-12 border shadow-sm rounded p-3 mt-5 mb-3">

    <h1>New Material</h1>

    <%= form_for(@subject_class_material, url: subject_class_materials_path, method: :post) do |f| %>

    <%= render partial: "form", locals: { f: f } %>

  <br/>
  <div class="form-group text-center">
    <%= f.submit "Create Material", class: "btn btn-primary" %>
  </div>
   <% end %>
  </div>
</div>

